@{
    ViewBag.Title = "Home Page";
    Layout = "../Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col s12 m6">
        <div class="card orange lighten-3">
            <div class="card-content black-text">
                <span class="card-title">Начало работы</span>
                <p>Здравствуйте. Для начала работы с приложением необходимо создать новый проект.</p>
            </div>
            <div class="card-action">
                <a href="#" class="black-text">Создать новый проект</a>
            </div>
        </div>
    </div>
</div>

